{% extends 'base.html.twig' %}

{% block title %} Mentions légales | Flou2Rallye
{% endblock %}

{% block body %}
  <section class="container legal">
    <h2 class="title">Mentions légales</h2>
    <ul>
        <li><strong>Responsable du site :</strong> MEILLAT Eric</li>
        <li><strong>Adresse e-mail :</strong> flou2rallye@gmail.com</li>
        <li><strong>Hébergeur du site :</strong> OVH</li>
        <li><strong>Propriété intellectuelle :</strong> Tous les droits de propriété intellectuelle liés au contenu et aux éléments graphiques de ce site sont réservés. Toute reproduction, distribution ou utilisation non autorisée du contenu du site est strictement interdite.</li>
        <li><strong>Protection des données personnelles :</strong> Ce site ne collecte aucune donnée personnelle. Les informations que vous fournissez via le formulaire de contact seront utilisées uniquement pour répondre à vos demandes de renseignements et ne seront pas partagées avec des tiers.</li>
    </ul>
  </section>
{% endblock %}

{% block javascripts_custom %}

{% endblock %}
