{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité | Flou2Rallye
{% endblock %}

{% block body %}
  <section class="container legal">
    <h2 class="title">Politique de confidentialité</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto accusamus mollitia, totam corrupti itaque iure, veniam officiis minus doloribus, quasi distinctio voluptatum id reprehenderit deleniti quibusdam impedit atque delectus tempore.</p>
  </section>
{% endblock %}

{% block javascripts_custom %}

{% endblock %}
