{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité | Flou2Rallye
{% endblock %}

{% block body %}
  <section class="container legal">
    <h2 class="title">Politique de confidentialité</h2>
    <p>Votre vie privée est importante pour nous. Cette politique de confidentialité explique quelles informations personnelles nous collectons lorsque vous visitez notre site et comment nous les utilisons.</p>
    <h3>Collecte des informations</h3>
    <p>Nous ne collectons aucune donnée personnelle sur ce site, sauf si vous choisissez de nous fournir vos informations via le formulaire de contact. Dans ce cas, nous utiliserons ces informations uniquement pour répondre à vos demandes de renseignements et ne les partagerons pas avec des tiers.</p>
    <h3>Cookies</h3>
    <p>Notre site n'utilise pas de cookies pour le suivi des utilisateurs.</p>
    <h3>Liens vers des sites tiers</h3>
    <p>Notre site peut contenir des liens vers des sites tiers. Nous ne sommes pas responsables des pratiques de confidentialité ou du contenu de ces sites.</p>
    <h3>Conservation des données</h3>
    <p>Nous ne conserverons les informations que vous nous avez fournies via le formulaire de contact aussi longtemps que nécessaire pour répondre à votre demande de renseignements. Nous ne conservons pas les données personnelles plus longtemps que nécessaire.</p>
    <h3>Modification de notre politique de confidentialité</h3>
    <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera affichée sur cette page.</p>
    <h3>Nous contacter</h3>
    <p>Si vous avez des questions concernant cette politique de confidentialité ou souhaitez que vos informations soient supprimées de nos dossiers, veuillez nous contacter avec le formulaire de contact : <a href="{{ path('contact') }}">Me contacter</a>.</p>

  </section>
{% endblock %}

{% block javascripts_custom %}

{% endblock %}
