$primary-color : #823E91;

//shade white
$primary-color-white-90 : #8F519C;
$primary-color-white-80 : #9B65A7;
$primary-color-white-70 : #A878B2;
$primary-color-white-60 : #B48BBD;
$primary-color-white-50 : #C19FC8;
$primary-color-white-40 : #CDB2D3;
$primary-color-white-30 : #DAC5DE;
$primary-color-white-20 : #E6D8E9;
$primary-color-white-10 : #F3ECF4;

//shade black
$primary-color-black-90 : #753883;
$primary-color-black-80 : #683274;
$primary-color-black-70 : #5B2B66;
$primary-color-black-60 : #4E2557;
$primary-color-black-50 : #411F49;
$primary-color-black-40 : #34193A;
$primary-color-black-30 : #27132B;
$primary-color-black-20 : #1A0C1D;
$primary-color-black-10 : #0D060E;

$grey : #554657