.cardAlbum {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 5px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.3s;
  cursor: pointer;

  .effect {
    .line {
      position: absolute;
      background-color: $primary-color-white-50;
      height: 1px;
      border-radius: 2px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      transition: 0.1s;

      &.line1 {
        width: 85%;
        top: -3px;
      }

      &.line2 {
        width: 65%;
        top: -6px;
      }
    }
  }

  .info {
    position: absolute;
    bottom: 0;
    padding: 15px 25px;
    overflow: hidden;

    h3 {
      color: white;
      font-size: 1.8rem;
      font-weight: 600;
      transform: translateY(30px);
      transition: 0.25s;
    }

    .subInfo {
      color: white;
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 15px;
      gap: 5px;
      margin-top: 0px;
      transform: translateY(100px);
      transition: 0.25s;

      svg {
        width: 24px;
        height: auto;
        transition: 0.25s;

        path {
          fill: white;
          transition: 0.25s;
        }
      }

      &.download:hover {
        color: $primary-color-white-50;

        svg path {
          fill: $primary-color-white-50;
        }
      }
    }
  }

  .containerImg {
    position: relative;
    border-radius: 5px;
    overflow: hidden;

    .layer {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.5%, rgba(0, 0, 0, 0.81) 100%);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.25s;
    }
  }

  &:hover {
    box-shadow: 0px 4px 20px rgba(130, 62, 145, 0.4);
    transform: translateY(-10px);

    .line {
      height: 2px;
      background-color: $primary-color-white-70;

      &.line1 {
        top: -5px;
      }

      &.line2 {
        top: -10px;
      }
    }

    .info {
      h3,
      .subInfo {
        transform: translateY(0);
      }
    }
  }
}

.lastCardAlbum {
  width: 250px;
  height: 250px;
  background: url(../../images/shapes/last-album-shape.png), $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.3s;
  color: white;
  border-radius: 5px;
  padding: 30px;
  padding-left: 43.5px;
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 600;
  
  svg {
    width: 25px;
    height: auto;
    margin-left: 20px;
    path {
      fill: white;
    }
  }

  &:hover {
    transform: translateY(-10px);
    background-color: $primary-color-black-80;
  }
}

.owl-carousel.albums {
  .owl-dots {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

    @media screen and (max-width: 768px) {
      display: none;
    }

    .owl-dot {
      background-color: $primary-color-white-50;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      transition: 0.5s all ease-in;

      &.active {
        background-color: $primary-color;
      }
    }
  }
}

.owl-carousel.albums .owl-item {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}