.footer {
  padding: 50px 150px;
  background: url(../../images/shapes/footer-shape.png), $primary-color;
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 1200px) {
    padding: 50px 100px;
  }

  @media screen and (max-width: 992px) {
    padding: 50px 50px;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 10px;
  }

  p {
    color: $primary-color-white-10;
    font-size: 1.6rem;

    a {
      color: $primary-color-white-10;
      font-size: 1.6rem;
      transition: 0.25s;
      font-weight: 600;

      &:hover {
        color: $primary-color-white-20;
      }
    }
  }
}