
<table style="width: 100%; background-color: #f8f8f8; background-repeat: repeat; background-size: auto; padding-bottom: 70px; padding-top: 50px; padding: 20px;">
    <tr>
        <td style="text-align: center;">
            <h1 style="text-align: center; color: #823E91; line-height: 32px;">
                Bonjour {{ name }},
            </h1>
            <p style="margin: 10px 0; text-align: left; color: black;">&nbsp;</p>
            <p style="margin: 10px 0; text-align: left; color: black;">
                Merci pour votre demande de contact, je vous répondrais dans les plus brefs délais.
                <br>
                <br>
                Cordialement,
                <br>
                Eric.
            </p>
        </td>
    </tr>
</table>